---
layout: home
title: "Order Online"
description: "Order Our Bread Online"
permalink: /order/index.html
image:
  feature: "baguettes and rye above.jpg"
closed: true
vacation: true
---

<h2 class="post-title text-center">{{ page.description }}</h2>
<p class="cursive text-center">We bring fresh bread to downtown Milledgeville on Tuesdays</p>
{% if page.closed %}
      <h3 class="text-center" style="margin-top: 20px">
        {% if page.vacation %}
          We're taking this week off, please check back next week when our bread will be fresh again!
        {% else %}
          Cutoff for this week has passed, please check back Thursday to order for next week!
        {% endif %}
      </h3>
    </div>
{% else %}
<h3 class="text-center lighter">Order today and pick up Tuesday 2pm-6pm</h3>

<div class="row">
  <div class="col-md-10 col-md-offset-0">
    <div id="my-search-10033231"></div>
    <div>
      <script type="text/javascript" src="https://app.ecwid.com/script.js?10033231&data_platform=code&data_date=2016-08-21" charset="utf-8"></script>
      <script type="text/javascript"> xSearch("id=my-search-10033231"); </script>
    </div>

    <div id="my-store-10033231"></div>
    <div>
      <script type="text/javascript" src="https://app.ecwid.com/script.js?10033231&data_platform=code&data_date=2016-08-21" charset="utf-8"></script><script type="text/javascript"> xProductBrowser("categoriesPerRow=3","views=grid(3,4) list(16) table(20)","categoryView=grid","searchView=list","id=my-store-10033231");</script>
    </div>
  </div>
  <div class="col-md-2 text-center">
    <div id="my-cart-10033231"></div>
    <div>
      <script type="text/javascript" src="https://app.ecwid.com/script.js?10033231&data_platform=code&data_date=2016-08-21" charset="utf-8"></script>
      <!-- remove layout parameter if you want to position minicart yourself -->
      <script type="text/javascript"> xMinicart("layout=attachToCategories", "id=my-cart-10033231"); </script>
    </div>
  </div>  
</div>

{% endif %}
