---
layout: home
title: "Order Online"
description: "Order Our Bread Online"
permalink: /order/index.html
image:
  feature: "baguettes and rye above.jpg"
closed: false
vacation: true
---

<h2 class="post-title text-center">{{ page.description }}</h2>
<p class="cursive text-center">We bring fresh bread to downtown Milledgeville weekly</p>
<h3 class="text-center lighter">Order Fri-Tues and pick up Thursday 12pm-4pm</h3>
{% if page.closed %}
      <h3 class="text-center" style="margin-top: 20px">
        {% if page.vacation %}
          We're taking this week off, please check back next week when our bread will be fresh again!
        {% else %}
          Cutoff for this week has passed, please check back over the weekend to order for next week!
        {% endif %}
      </h3>
    </div>
{% else %}

<p>Luke the baker here, I'm making bread and pastries most weeks this fall, freshly baked for pickup Thursday afternoons.
<p>Thanks to Donna at The Market Collective in downtown (124 N Wayne St, Milledgeville, GA) for graciously offering a space for you to pickup your order when it's fresh out of the oven. Place your order, pay by credit card, I'll send you an email to remind you to come pick it up on Thursday, enjoy your bread. That's it!

<div class="row">
  <div class="col-md-10 col-md-offset-0">
    <div id="my-store-10033231"></div>
    <div>
      <script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?10033231&data_platform=code&data_date=2021-09-02" charset="utf-8"></script><script type="text/javascript"> xProductBrowser("categoriesPerRow=3","views=grid(20,3) list(60) table(60)","categoryView=grid","searchView=list","id=my-store-10033231");</script>
    </div>
  </div>
</div>

<p>If the store is closed, I've started doughs for this week's bake and hope you'll come back to order next week!

<p>Our Big Oak Ltd. Co. is licensed with the Georgia Department of Agriculture as a Cottage Foods Operation not subject to State Food Safety Inspections. If you'd like to place a custom or large order, please email me: luke (at) ourbigoak.com

{% endif %}
